@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
  font-family: "persFont";
  src: url("./fonts/ttf/homa.ttf");
}
* {
    font-family: "persFont", "Roboto";
}
html {
  overflow-x: hidden;
}
